.nav-link {
  border-radius: 25px;
  font-size: 22px;
  margin:1%;
}
.nav_container{
  border-radius: 20px;
}
.my_slide{
z-index: -1;
width: 100%;

}
.bg-primary1{
  color: #add8e6;
  background-color: #add8e6;
}
ul{
  margin:4px;
}
.nav-link:hover,.nav-link:focus{
    background-color: white;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #e9eff8 ;
}
.container{

  background-color:white!important;
}
.logo{
  display: block;
  margin-left: auto;
 margin-right: auto;
 width: 200px;
}
.my_form{
  text-align: center;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}
textarea,input,select,option{
  text-align:center;
  width: 100%;
  border-radius: 25px;
}
select{
  text-align-last:center;
  font-size:25px;
  -webkit-border-radius:5px;
   -webkit-appearance: none;
}
.dropdown-menu{
  width: 100%;
}
.bb{
text-align: left !important;
}
.bbb{
text-align: right;
}
.bbbb{
  text-align: center;
}
.img_link img{width:90%;}
h1,h2,h3,a,.btn,.nav-link,select{
   color:#da781b !important;
}
.bolder{
font-weight: bolder;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.my_link a h3{
  font-weight: bold;
}
.col-6 img,.col-4 img,.logo,.carousel1{
  border-radius: 25px;
}
.footer-color{
  background-color: #f5f5f0 !important;
}
.IMP{
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.costosbtn{
  width:40%;
}
.dropdown-menu{
  border-radius: 20px;
}
.imgs{
  width: 20px;
}
