{% extends 'base.html' %}
{% block base %}
{% include "carousel.html" %}
{% load static %}
<div class="container">
<div class="row">
  <div class="col-6 bbbb">
<h1>Bachillerato</h1>
<p>
Te ofrecemos una excelente opción para concluir tu bachillerato de acuerdo a tus posibilidades y planes a futuro:
<br>
Estudia tu bachillerato en un año ocho meses, con un excelente nivel académico y una de las colegiaturas más bajas, además incluye una especialidad en inglés o informática.
<br>
<br>
</div>
<div class="col-6 bbbb">
<h2>VENTAJAS:</h2>
<br>
-Bachillerato tecnológico en administración
<br>
-Excelente nivel académico.
<br>
-Recupera el tiempo perdido.
<br>
-Una excelente oportunidad si no estás de acuerdo con la opción que te asignaron.
<br>
-Cómodos horarios, puedes trabajar o hacer otra actividad mientras estudias.
<br>
Si tienes 18 años cumplidos, además tienes otra opción. Además de concluir tu bachillerato en 1 año 8 meses, puedes concluirlo a través de un examen único, garantizado
<br>
- Bachillerato Tecnológico en Informática
<br>
- Certificación por Evaluación en un solo examen
<br>
- No escolarizado
<br>
- Excelente nivel académico
<br>
- El mejor precio
<br>
- NO es CENEVAL ni COLBACH
</div>
{% include "footer.html" %}
{% endblock %}
