{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
<!doctype html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Instituto Latinoamericano te da la bienvenida</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/base.css' %}"/>

    <body>
    <div class="container">
    <img src="{% static 'imgs/logo.png' %}" class="logo" alt="">
    <br>
  <nav class="navbar navbar-expand-xl bg-primary1 nav_container my-li mx-auto col-12">
     <div class="navbar-inner mx-auto">
          <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarsExample11">
              <ul class="navbar-nav text-center ">
                <li class="nav-item ">
                    <a class=" nav-link" href="{% url 'index_view' %}"><h3>inicio</h3></a>
                </li>
                <li class="nav-item ">
                  <div class="dropdown">
                    <a class=" nav-link dropdown-toggle"  data-toggle="dropdown" href="{% url 'bachillerato' %}"><span class="caret"></span><h3>Bachillerato</h3></a>
                    <ul class="dropdown-menu bg-primary1">
    <li class=""><a href="{% url 'unoys' %}"class="   nav-link  my_form">1 año y 8 meses</a></li>
    <li><a href="{% url 'dosys' %}" class=" nav-link my_form">Dos años y medio</a></li>
    <li><a href="{% url 'unico' %}"class="  nav-link  my_form" >Examen único</a></li>
  </ul>
</div>
  </li>
                <li class="nav-item ">
                    <a class=" nav-link " href="{% url 'licenciaturas' %}"><h3>licenciaturas</h3></a>
                </li>
                  <li class="nav-item">
                      <a class=" nav-link" href="{% url 'especialidad' %}"><h3>Especialidades</h3></a>
                  </li>
                  <li class="nav-item">
                    {% if user.is_superuser %}
                    <div class="dropdown">
                       <a class=" nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'login' %}"><span class="caret"></span><h3>{{ request.user.email }}</h3></a>
                       <ul class="dropdown-menu bg-primary1">
                         <li class=""><a href="{% url 'register' %}"class="   nav-link  my_form">registrar alumno</a></li>
                         <li><a href="{% url 'logout' %}" class=" nav-link my_form">logout</a></li>
                       </div>
                    {% elif user.is_authenticated %}
                    <div class=" dropdown">
                       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'login' %}"><span class="caret"></span><h3>{{ request.user.email }}</h3></a>
                       <ul class="dropdown-menu bg-primary1">
                         <li class=""><a href="{% url 'calificaciones1' %}"class="   nav-link  my_form">calificaciones 1</a></li>
                         <li class=""><a href="{% url 'calificaciones2' %}"class="   nav-link    my_form">calificaciones 2</a></li>
                         <li class=""><a href="{% url 'calificaciones3' %}"class="   nav-link   my_form">calificaciones 3</a></li>
                         <li class=""><a href="{% url 'calificaciones4' %}"class="   nav-link  my_form">calificaciones 4</a></li>
                         <li class=""><a href="{% url 'calificaciones5' %}"class="   nav-link   my_form">calificaciones 5</a></li>
                         <li class=""><a href="{% url 'calificaciones6' %}"class="   nav-link   my_form">calificaciones 6</a></li>
                         <li class=""><a href="{% url 'all_cal' %}"class="   nav-link   my_form">historial academico</a></li>

                         <li><a href="{% url 'logout' %}" class=" nav-link my_form">logout</a></li>
                       </div>
                       {% else %}
                        <a class=" nav-link" href="{% url 'login' %}"><h3>login</h3></a>
                      {% endif %}
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <br>
  {% block base %}
  {% endblock %}

</body>
