{% extends 'base.html' %}
{% block base %}
{% include "carousel.html" %}
{% load static %}

<table class="table-bordered container">

  <center><h1>calificaciones de {{request.user.nombre}}</h1></center>
  <center><h1>NO OFICIAL</h1></center>
       <tr>
         <th ><h3 align="center">materia</h3></th>
         <th><h3 align="center">calificacion</h3></th>
       </tr>
  {%for field,value in calificaciones.items %}
  {%if field != 'cuatrimestre'%}
  <tr>
 <th align="center"><h4 align="center">{{field}}</h4></th>
<th align="center"><h4 align="center">{{value}}</h4></th>
</tr>

{%endif%}
{% endfor %}
</table>
<center><p>este documento se extiende con fines meramente informativos,
para control interno y para control del alumno
<br></p>
<bolder>NO tiene ningún tipo de validez.</bolder></center>
<a href="{% url 'imprimir' %}"><img src="{% static 'imgs/IMP.png' %}" class="IMP" alt=""></a>


{% include 'footer.html' %}
{% endblock %}
