{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}"/>

<div class="container">
<div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel">
    <ol class="carousel-indicators ">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner carousel1" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active">
          <img src="{% static 'imgs/carusel1.jpg' %}" class="my_slide">
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item">
          <img src=" {% static 'imgs/carusel2.jpg' %}"  class="my_slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>
