{% extends 'base.html' %}
{% block base %}
{% include "carousel.html" %}
{% load static %}

<div class="container">

<div class="row bbbb">

<div class="col-12">
<h1>Beneficios y costos</h1>

<h3>Comprueba que somos una excelente opción:</h3>

· Tres modalidades distintas a elegir: 2 años y medio | 1 año 8 meses | Un examen
<br>
. Aplicación de exámenes en el plantel continuamente, para que refuerces constantemente tus conocimientos
<br>
· Certificación con validez oficial

<br>

· Desde 2 horas diarias o en sabatino, también tenemos modalidades de medio tiempo de 4 horas diarias

<br>

· Sin restricción de edad


<br>
· Sin examen de admisión


<br>
· Colegiaturas accesibles: $230.00 semanales en bachillerato de 2 años y medio (Turno vespertino); $250.00 semanales en bachillerato de 2 años y medio (Turno matutino); $300.00 semanales en bachillerato en 1 año 8 meses

<br>

· Clases de inglés e informática ¡Por la misma colegiatura!

<br>

· Grupos reducidos, máximo 12 alumnos

<br>

· Reinscripción anual, no pagas reinscripción cada trimestre


<br>
· No hay venta de libros ni bitácoras ni uniforme

<br>

· Sin promedio mínimo

<br>

· Si lo necesitas te ayudamos a certificar tus estudios de secundaria
<br>
</div>
</div>
</div>
{% include 'footer.html' %}
{% endblock %}
