{% extends 'base.html' %}
{% block base %}
{% include "carousel.html" %}
<div class="container">
  <div class="row">
    <div class="col-12 my_form">


<h1>Plan trimestral</h1>
</div>
</div>
<div class="row">


<div class="col-6 my_form">
<h3>Si recién egresaste de la secundaria o buscas una opción económica</h3>





Si recién egresaste de la secundaria o buscas algo económico está opción es para ti. Con éste plan de estudios te ayudamos a obtener un nivel académico de excelencia. Si tienes dudas de temas de la secundaria, si no entiendes o se te dificulta alguna materia, si crees que le escuela no es para ti o simplemente buscas una opción más accesible económicamente, te ofrecemos este plan.


</div>
<div class="col-6 my_form">
<h3>BENEFICIOS</h3>

. Aplicación de Examen en el Plantel
<br>
· Certificación con validez oficial (Centro de asesoría)
<br>
· Desde 2 horas diarias o en sabatino
<br>
· Sin restricción de edad
<br>
· Sin examen de admisión
<br>
· Todas las materias desde cero: corregimos problemas cualquier materia para prepararte para el ingreso a la universidad.
<br>
· Colegiaturas más bajas que en otros planes, más tiempo menor colegiatura. No pagues lo mismo si tardarás más tiempo en terminar.
<br>
· Clases de Ingles e informática por la misma colegiatura
<br>
· Grupos reducidos
<br>
· Reinscripción anual
<br>
· No hay venta de libros ni bitácoras
<br>
· Sin promedio mínimo
<br>
· Si lo necesitas te ayudamos a certificar tu secundaria
<br>
</div>
</div>
</div>
{% include 'footer.html' %}
 {% endblock %}
