{% extends 'base.html' %}
{% block base %}
{% include "carousel.html" %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-6 bbbb img_link">
        <br>
      <img src="{% static 'imgs/english.jpg' %}" alt=""/>

<h3>Inglés</h3>
Aprende y domina el idioma inglés!
<br>
Aprende inglés de una forma práctica y divertida.
<br>
* Habla desde la primera clase, practica con tus compañeros de clase.
<br>
* Maneja las 4 habilidades: Habla, Comprende, Escribe, Lee.
<br>
* ¿Te gusta la música? Aprende inglés y utiliza la música como herramienta, cada semana dominarás una canción distinta.
<br>
* Validez Oficial, por cada nivel, de 6 meses, recibe un diploma de la Secretaría de Educación Pública.
<br>
* Club de conversación. Participa en nuestro club de conversación, perfecciona tu pronunciación para que tus compañeros te entiendan, afina tu oido para comprender lo que tus compañeros tratan de decirte.
<br>
* Las colegiaturas son congeladas y si estudias tu bachillerato con nosotros, estudia inglés por sólo $50.oo pesos semanales.
<br>
</div>
<div class="col-6 bbbb img_link ">
  <br>
  <img src="{% static 'imgs/technology.jpg' %}" alt=""/>

<h3>Informática</h3>
<br>
Con validez oficial:
<br>
* Mantenimiento y reparación de equipos de cómputo
<br>
* Configuración y operación de sistemas operativos
<br>
* Manejo de procesador de textos
<br>
* Manejo de hoja de cálculo
<br>
* Manejo de bases de datos
<br>
Para estudios que no requieren de validez oficial:
<br>
* Diseño gráfico (vectores)
<br>
* Diseño gráfico (Mapa de bits)
<br>
* Edición de audio y video
<br>
* Paquetería contable (Contabilidad, Nóminas e Inventario)
<br>
* Lenguajes de programación
<br>
</div>
</div>
</div>
{% include "footer.html" %}
{% endblock %}
