{% load static %}

<div class="container">
<div class="row ">
  <div class="col-12 bbbb footer-color ">
    <h3>Instituto Latinoamericano</h3>
<p>
Miguel Ángel de Quevedo 1084, primer piso.
<br>
Colonia Parque San Andrés, Coyoacán.
<br>
04040, Distrito Federal.
<br>
55-44-34-29
71-59-98-96
<br>
emediasuperior@hotmail.com
<br>
made by:Pablo Ramirez Vargas(thegreatperses@gmail.com)
</p>
  </div>
</div>

</div>
