{% extends  'base.html'  %}
{% block base %}
{% load static %}
{% include "carousel.html" %}
<div class="my_form ">
<div class="row">
  <div class="col-12">
  <h1>Instituto Latinoamericano<h1>
  <h4>
  <br>
  Te ofrecemos varias opciones para que concluyas tu bachillerato,
  las opciones difieren de acuerdo al tiempo y al costo,
  la elección depente completamente de ti, de tu economía
  y de tu necesidad de concluir el bachillerato.
  Todas las opciones incluyen inglés e informática sin costo.
  ¿Sabes en dónde estamos? <a>Da clic aquí</a>

  Tu colegiatura no aumenta cuando avanzas de trimestre</h4>
<br>
</div>
</div>
<div class="col-12">
<h3>Horario de atención de 9:00 a 14:00</h3>
</div>
<div class="row">


<div class="col-6 bbb">
<img src="{% static 'imgs/wat.png' %}"/>
</div>
<div class="col-6 bb">

<h4 class="bolder" >55-44-34-29</h4 >
<h4 class="bolder">55-3310-92-39</h4>
<a href="{% url 'costos' %}" class="btn bg-primary1 bbbb costosbtn">costos </a>
</div>
<br>
<br>
</div>
<div class="col-12 ">
  <h2>Bachillerato</h2>
  <hr>
</div>
<div class="row img_link">


<div class="col-4">
  <img src="{% static 'imgs/proximos.jpg' %}"/>
  <br>
<h3>Próximos inicios</h3>
<hr>
<p>
Iniciamos 20 de agosto | 25 de agosto en horario sabatino.
¿No estás de acuerdo con tu opción COMIPEMS? Trae tu comprobante y te hacemos un descuento en tu inscripción!
</p>
</div>
<div class="col-4">
  <img src="{% static 'imgs/valides.jpg' %}"/>
  <h3>Validez Oficial</h3>
  <hr>
  <p>
  Para tu tranquilidad, como centro de asesoría,
  contamos con el respaldo de instituciones con
   reconocimiento de Validez Oficial, muchos de
   nuestros alumnos han continuado sus estudios
   a nivel superior, da <a href="https://www.ilatinoamericano.com/historias-de-%C3%A9xito/">clic aquí</a> y compruébalo...
   </p>
</div>
<div class="col-4">
  <img src="{% static 'imgs/convenios.jpg' %}"/>
  <h3>Convenios con grupos</h3>

<hr>
<p>Cuando  existen  grupos,  en  empresas  u organizaciones
,interesados en cursar sus estudios les ofrecemos ventajas
 significativas en cualquiera de  nuestras  opciones  educativas.
Contacta  a nuestros  asesores  educativos  para  más información...
</p>
</div>
<div class="col-12 ">
  <h2>Licenciatura</h2>
    <hr>
</div>
</div>
<div class="row img_link">
  <div class="col-4">
    <img src="{% static 'imgs/licenciaturas.jpg' %}"/>
  <h3>Convenios con grupos</h3>
  <hr>
  <p>Cuando  existen  grupos,  en  empresas  u organizaciones
  ,interesados en cursar sus estudios les ofrecemos ventajas
   significativas en cualquiera de  nuestras  opciones  educativas.
  Contacta  a nuestros  asesores  educativos  para  más información...
  </p>
</div>
<div class="col-4">
  <img src="{% static 'imgs/tt.jpg' %}"/>
<h3>Ejerce mientras estudias</h3>
<hr>
<p>Como estudiante, participas en asesorías jurídicas,
  fiscales y pedagógicas al lado de tus profesores,
  de esta manera combinas la teoría y la práctica,
  adquieres experiencia antes de concluir tus estudios.
</p>
</div>
<div class="col-4">
  <img src="{% static 'imgs/acesores.jpg' %}"/>
<h3>Asesores educativos</h3>
<hr>
<p>Si alguno de nuestros asesores te visita
   no dudes en aprovechar los beneficios que
   te ofrece. Recuerda que ellos no
   hacen cobros de ningún tipo.
   No corras riesgos y comprueba los datos de tu asesor aquí...
</p>
</div>
</div>
  <div class="row">
    <div class="col-12 bbbb">
      <h2>Especialidades</h2>
        <hr>
    </div>

  </div>
<div class="row">

  <div class="col-6 bbbb">
    <a href="{% url 'especialidad' %}"><img src="{% static 'imgs/ingles.jpg' %}"/></a>
  <h3>Ingles</h3>
  <hr>
  <p>
Domina el idioma: obtén un mejor empleo, mejora tu calidad de vida, obtén acceso a mejores fuentes de información, aprende el idioma global!
  </p>
</div>
<div class="col-6 bbbb">
  <a href="{% url 'especialidad' %}"><img src="{% static 'imgs/informatica.jpg' %}"/></a>
<h3>Informática</h3>
<hr>
<p>
Domina el idioma: obtén un mejor empleo, mejora tu calidad de vida, obtén acceso a mejores fuentes de información, aprende el idioma global!
</p>
</div>
  </div>
</div>
{% include "messageform.html"%}
{% include 'footer.html' %}
{% endblock %}
