{% extends 'base.html' %}
{% block base %}
{% include "carousel.html" %}
{% load static %}

<div class="container">
<div class="row">
<div class="col-12 bbbb">


<h2>Licenciaturas</h2>

<h3>Contabilidad - Derecho</h3>



Nuestras licenciaturas te preparan para que te incorpores al mercado laboral. Las clases son impartidas por profesionales que ejercen en sus respectivas áreas así que cada clase aprendes lo que se requiere para iniciar a trabajar. Todo a través de un equilibrio teórico práctico.



Terminas en 3 años 4 meses y la titulación es directa, no necesitas hacer tesis, servicio social o prácticas profesionales de manera obligatoria, pero puedes hacerlo si deseas practicar  en alguna institución. Si tienes experiencia laboral, o bien tus situación laboral te está presionando para titularte, podemos ofrecerte una modalidad a tu medida.



Además te ofrecemos los siguientes beneficios:<br>



     -Dos modalidades a elegir<br>
      -Titulación y certificación con validez oficial<br>
      -Cómodos horarios, sabatinos y próximamente vespertinos<br>
      -Sin restricción de edad<br>
      -Sin examen de admisión<br>
      -Titulación directa<br>
      -Grupos reducidos, máximo 12 aulumnos<br>
      -Reinscripción anual<br>
      -Sin promedio mínimo<br>
      -Si lo necesitas te ayudamos a certificar tus estudios de bachillerato<br>







Derecho: Su  objetivo  primordial  es  aplicar  el  marco  jurídico  vigente para lograr soluciones integrales  a  problemas  jurídicos,  con base  en  el  conocimiento,  interpretación  y aplicación de la ley.<br>


Contabilidad: Su propósito fundamental es formar contadores  con una amplia visión contable,  fiscal  y financiera, y que apliquen sus conocimientos en presupuestos y costos.<br>



</div>
</div>
</div>
{% include 'footer.html' %}
{% endblock %}
