{% extends 'base.html' %}
{% block base %}
{% include 'carousel.html' %}
<div class="container">
  {% if user.is_authenticated %}
  <p>inicio de secion exitoso</p>
  {% else %}
  <div class="my_form">
<form method="post">
  {% csrf_token %}
{% for field in form %}
{{linebreaks}}
<h3>{{ field.label_tag }}</h3>
{{field}}
{{linebreaks}}
{% endfor %}
  <input type="submit" class="btn bg-primary1 btn-md" value="enviar">
  {{linebreaks}}
</form>
</div>
{% endif %}
</div>
{% include 'footer.html' %}
{% endblock %}
