<!--
<h1 class="my_form">Pide informes</h1>
<br>
            <h4 class="my_form">Nombre: *</h4>
            <br>
          <input type="text" name="nombre" maxlength="60" required id="id_nombre">
          <br>
            <h4 class="my_form">Curso o especialidad:</h4>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{ form.curso.curso }}">
            <br>
          <h4 class="my_form">Dirección de e-mail: *</h4>
          <br>
           <input type="email" class="form-control" id="email"  value="{{ form.email.email }}" placeholder="name@example.com">
           <br>
          <h4 class="my_form">Teléfono: *</h4>

          <br>
          <input type="tel" class="form-control" id="telefono" value="{{ form.telefono.telefono }}">
          <br>
          <h4 class="my_form">Mensaje: *</h4>
          <br>
          <textarea class="form-control" id="body" rows="4" value="{{ form.body.body }}"></textarea>
          <br>
                <input type="submit" class="btn btn-primary btn-md" value="enviar">
</form>//-->
<div class="container">
<form method="post" action="/send_message/">
  {% csrf_token %}
{% for field in form %}
{{linebreaks}}
<h3 class="my_form">{{ field.label_tag }}</h3>
{{field}}
{{linebreaks}}
{% endfor %}
  <input type="submit" class="btn bg-primary1 btn-md" value="enviar">
</form>
</div>
