{% extends 'base.html' %}
{% block base %}
{% include "carousel.html" %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-12 my_Form">
<h1>Intensivo</h1>
    </div>
    </div>
    <div class="row">
      <div class="col-6 my_form">
<h3>Si te urge concluir tu bachillerato...</h3>
si cursaste tus estudios de bachillerato pero no lograste certificar aquí está la solución. Concluyes en cuatro meses, te preparamos para que apruebes tu bachillerato en un sólo examen. Garantizado, no te arriesgues, no trunques tu vida académica, hoy tu bachillerato es importante, mañana lo será la universidad, no tomes una decisión equivocada.
      </div>
      <div class="col-6 my_form">
<h3>BENEFICIOS</h3>

BENEFICIOS
. Aplicación de Examen en el Plantel
<br>
· Certificación con validez oficial
<br>
· Desde 2 horas diarias o en sabatino
<br>
· Mayores de edad
<br>
· Sin examen de admisión
<br>
· Grupos reducidos
<br>
· No hay venta de libros ni bitácoras
<br>

· Sin promedio mínimo
<br>
· Garantizado
<br>
      </div>
    </div>
  </div>









{% include 'footer.html' %}
{% endblock %}
