{% extends 'base.html' %}
{% block base %}
{% include "carousel.html" %}
{% load static %}
<div class="container">
<div class="row">
<div class="col-12 bbbb">


  <h1>Plan trimestral</h1>

</div>
<br>
</div>
<div class="row">

<div class="col-6 my_form">


<h3>La mejor opción costo-tiempo </h3>





Concluyes tu bachillerato en 6 trimestres.
<br>
Si necesitas recuperar tiempo perdido te recomendamos esta opción;
<br>
no sólo terminas más rápido, también adquieres los conocimientos necesarios para el ingreso a la universidad.
<br>
</div>

<div class="col-6 my_form">


<h3>BENEFICIOS</h3>



. Aplicación de Examen en el Plantel
<br>
· Certificación con validez oficial expedida por la Secretaría de Educación Pública (Centro de asesoría)
<br>
· Desde 2 horas diarias o en horario sabatino
<br>
· Sin restricción de edad
<br>
· Sin examen de admisión
<br>
· Sin promedio mínimo
<br>
· Colegiaturas accesibles
<br>
· Clases de Ingles
<br>
· Grupos reducidos
<br>
· Reinscripción anual, no pagas reinscripción cada trimestre
<br>
· No hay venta de libros ni bitácoras
<br>
· Si lo necesitas te ayudamos a certificar tu secundaria
<br>
 </div>
 </div>
</div>
{% include 'footer.html'%}
{% endblock %}
